{% extends 'base.html.twig' %}

{% block body %}
    <article class="grid-container">
        <div class="grid-x top-margin-2em">
            <div class="cell">
                <h1>Find an Upholsterer in Your Area</h1>
            </div>

			<div id="searchCompanyFormError" class="small-12 medium-6 large-4 cell hide">
	            <div class="callout alert">
 					<p>All fields are required.</p>
				</div>
			</div>
        </div>

        <div class="grid-x search-form-container">
		    <div class="cell">
		        <form id="searchCompanyForm" data-abide novalidate>
		            <div class="grid-container">
		                <div class="grid-x grid-padding-x align-middle">
		                    <div class="large-3 cell">
		                        <label class="top-margin-0-5em">State
		                            <select name="state" id="state" aria-errormessage="stateErrorField" required>
										<option value="">Loading...</option>
									</select>
									<span class="form-error" id="stateErrorField">
                                        Please select an state.
                                    </span>
		                        </label>
		                    </div>
		                    <div class="large-3 cell">
		                        <label class="top-margin-0-5em">County
									<select name="county" id="county" aria-errormessage="countyErrorField" required>
										<option value=""></option>
									</select>
									<span class="form-error" id="countyErrorField">
                                        Please select a county.
                                    </span>
		                        </label>
		                    </div>
		                    <div class="large-3 cell">
		                        <label class="top-margin-0-5em">City
									<select name="city" id="city" aria-errormessage="cityErrorField" required>
										<option value=""></option>
									</select>
									<span class="form-error" id="cityErrorField">
                                        Please select a city.
                                    </span>
		                        </label>
		                    </div>
		                    <div class="large-3 cell text-center">
		                        <input type="submit" class="button no-bottom-margin expanded" value="Search">
		                    </div>
		                </div>
		            </div>
		        </form>
		    </div>
		</div>
    </article>

    <article class="grid-container">
        <div class="grid-x">
            <div class="cell top-margin-2em bottom-margin-1em">
                <h2 class="display-inline-block">Top <span class="city-top-companies"></span> Upholsterers</h2> | <a href="">See All <span class="city-top-companies"></span> Upholsterers</a>

                <p>
                	Individuals and companies listed here are local upholstery companies that match your search. Upholster.com does not verify the work of these local vendors and can not vouch for the quality of their work.
                </p>
            </div>
        </div>

        <div id="companiesContainer">
        	<div class="grid-x grid-margin-x">
	        	{% for company in companies %}
		            {% include './partials/companyCard.html.twig' with {'company': company} %}
	            {% endfor %}
	        </div>
        </div>
    </article>
{% endblock %}


